<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Me", me_path %></li>
        <li><%= link_to "Blog", "http://computationalcontemplativity.wordpress.com/", :target => "_blank" %></li>
        <li><%= link_to "Poetry Generator", "http://joannamr.pythonanywhere.com/poetry_generator", :target => "_blank" %></li>
        <li><%= link_to "Supervisors", sup_path %></li>
      </ul>
    </nav>
  </div>
</header>